
body, footer {
background-color: rgb(0, 162, 255);
}

h1 {
  font-size: 7vw;
   
}

li {
  font-size: 5vw;
  text-align: center;
}

h2 {
font-size: 3vw;
}

table, tr, th, td {
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  font-size: 2vw;
  margin-top: 5px;
  margin-bottom: 20px;
}

form {
  border: 1px solid rgb(0, 0, 0);
  margin-bottom: 30px;
}

section {
  font-family: 'Crimson Pro', serif;
  font-size: 25px;
  
}

hr {
  background-color: white; height: 1px; border: 0; 
}

#shirt {
margin-top: 40px;
margin-bottom: 30px;
}

#family {
  margin-bottom: 50px;
}
footer {
  text-align: center;
}